<h2><%= @task.title %></h2>
<p><%= @task.details %> </p>
<%= link_to "Go back to tasks", tasks_path %>
<%= link_to "Destroy", delete_task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
